<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body" *ngIf="product">
    <div class="wizard">
      <a href="">Basic Info</a><a href="">Search Tags</a>
    </div>
    <router-outlet></router-outlet>
    <div class="row mb-2">
      <div class="col-md-4">
        <button
          class="btn btn-primary mr-3"
          type="button"
          style="width:80px"
          title="Save your entered data"
          (clickJ)="saveProduct()"
        >
          Save
        </button>
        <button
          class="btn btn-outline-secondary mr-3"
          type="button"
          style="width:80px"
          title="Cancel your editing"
          [routerLink]="['/product']"
        >Cancel</button>
        <button
          class="btn btn-outline-secondary mr-3"
          type="button"
          style="width:80px"
          title="Delete this product"
          (click)="deleteProduct()"
        >Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
