.product-detail {
    margin-left: auto;
    margin-right: auto;
}
.product-detail table tr{
    height: 3em;
    border-top: 1px solid #e5e5e5;
    vertical-align: middle;
}

.product-metas td {
    text-indent: 1em;
}

#star-rating {
    text-indent: unset;
}